.footer {
  padding: 5rem 0 6rem;

  &__holder {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-right {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      align-items: center;

      .btn {
        display: none;
      }
    }
  }
  &__logo {
    width: 25rem;
  }

  &__list {
    display: flex;
    gap: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &-item {
      font-size: 2rem;
      opacity: 0.3;
      transition: opacity 0.3s ease;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }

  &__socials {
    display: flex;
    gap: 2.9rem;
    align-items: center;

    &-phone {
      display: none!important;
      font-size: 1.6rem;
      text-align: center;
      align-items: center;
      @media (max-width: 768px) {
        display: flex!important;
        flex-direction: column !important;
        font-size: 16px;
        flex-direction: column;
        br {
          display: none;
        }
        &.show-number {
          flex-direction: row !important;
        }
      }
      & span:nth-child(3) {
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.14rem;
        color: rgba(255, 255, 255, 0.3);
        text-transform: uppercase;
        @media (max-width: 768px) {
          font-size: 20px;
          letter-spacing: -1.4px;
        }
      }
    }

    &-holder {
      display: flex;
      gap: 5rem;
      align-items: center;

      &-item {
        width: 3.2rem;
      }
    }
  }

  &__title {
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
    text-align: center;
  }
  .form__wrap:last-of-type {
    margin-bottom: 2rem;
  }

  .form {
    display: grid;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    input:-webkit-autofill,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            color: #fff !important;
            -webkit-text-fill-color: #fff !important;
            -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset !important;
            -webkit-background-clip: text !important;
            background-clip: text !important;
        }

        input:-webkit-autofill:hover {
            color: var(--dark) !important;
            -webkit-text-fill-color: var(--dark) !important;
            -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset !important;
            -webkit-background-clip: text !important;
            background-clip: text !important;
        }
    &-input {
      position: relative;

      svg {
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .form__input {
      padding: 1.4rem 2.4rem;
      background: #1e1e1e;
      width: 32rem !important;
      font-size: 1.6rem;

      &::placeholder {
        color: #aaa;
      }
    }

    .btn-wrap {
      text-align: center;
      padding-top: 1rem;
    }
  }
  .mobb {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer {
    .mobb {
      display: block;
    }
    padding: 30px 0 50px;

    ._container {
      padding: 0 30px;
    }

    &__holder {
      justify-content: center;

      &-left {
        display: none;
      }

      &-right {
        gap: 0px;
        width: 100%;
        .btn {
          display: block;
          margin-top: 0;
        }
      }
    }

    &__list {
      flex-direction: column;
      text-align: center;
      gap: 10px;
      padding-bottom: 27px;

      &-item {
        font-size: 20px;
        opacity: 0.7;
        &:hover {
          opacity: 1;
          animation: reset 1s forwards;
        }
      }
    }
    @keyframes reset {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0.7;
      }
    }

    &__socials {
      &-holder {
        gap: 24px;
        padding-bottom: 17px;
        &-item {
          width: 100%;
          svg {
            width: 24px;
            height: 24px;
          }
        }
      }

      &-phone {
        padding-bottom: 20px;
      }
    }
  }
}
