.form {
  max-width: 32rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 3rem;
  @media(max-width:1000px){
    max-width: 320px;
  }

  @media(max-width:500px){
    max-width: 256px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:active,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:active,
  select:-webkit-autofill:focus {
    color: var(--dark) !important;
    -webkit-text-fill-color: var(--dark) !important;
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
  }
 

  .btn {
    display: block;
    margin: 0 auto;
  }

  &__wrap {
    border-radius: 0;
    background: #1E1E1E;
    border: 1px solid transparent;
    width: 100%;
    position: relative;
    z-index: 9;
    height: 4rem;
    transition: all 1s ease;
    margin-bottom: 1rem;
    // border: 1px solid #e2e2e2;
    &:last-of-type{
      // margin-bottom: 4rem;
    }
    &:focus-visible{
      outline: none;
    }
    &:hover {
      border: 1px solid #e2e2e2;
      background: #fff;
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.03);

      svg {
        path {
          // stroke: #000;
        }
      }
    }
    @media(max-width:1000px){
      // height: 32px;
      height: 40px;
      margin-bottom: 10px;
      &:last-of-type{
        // margin-bottom: 40px;
      }
    }

  

    .iti {
      height: 100%;
    }

    .iti--allow-dropdown .iti__flag-container,
    .iti--separate-dial-code .iti__flag-container {
      left: 2rem;

      @media (max-width: 576px) {
        left: 8px;
      }
    }

    .iti__selected-dial-code {
      color: rgba($color: #000000, $alpha: 0.8);
      font-family: var(--font);
      font-weight: 300;
    }

    .iti__arrow {
      border-top: 4px solid var(--dark);

      &.iti__arrow--up {
        border-top: none;
        border-bottom: 4px solid var(--dark);
      }
    }
  }

  input {
    width: 100%;
    height: 100%;
    background: none;
    color: #aaa;
    font-family: var(--font);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0rem 4rem 0rem 2.4rem !important;
    transition: all 400ms ease-in-out;
    border: 0.07rem solid transparent;
    &:focus{
      outline: none !important;
      outline-offset: 0 !important;
    }
    @media(max-width:1000px){
      // height: 45px;
      font-size: 16px;
      padding: 0 35px 0 20px !important;
    }
    @media(max-width:600px){
      // height: 32px;
      font-size: 15px;
    }

    @media (max-width: 350px) {
      font-size: 14px;
    }
  }

  .input-icon {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: all 400ms ease-in-out;
    @media(max-width:1000px){
      right: 20px;
    }
    svg {
      height: 1.6rem;
      width: 1.6rem;
      min-height: 16px;
      min-width: 16px;

      path {
        transition: all 1s ease;
      }

      @media(max-width:1000px){
        height: 13px;
        width: 13px;
        min-height: 13px;
        min-width: 13px;
      }
      
    }

    @media (max-width: 350px) {
      right: 20px;
    }

    &.hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  .form-times {
    cursor: pointer;
    right: 2rem;

    @media (max-width: 350px) {
      right: 20px;
    }

    svg {
      width: 1.2rem;

      @media (max-width: 768px) {
        height: 11px;
        width: 12px;
      }
    }
  }
}

.iti {
  &__selected-dial-code {
    font-size: 1.4rem;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &__country {
    @media (max-width: 1600px) {
      font-size: 14px;
    }
  }

  &__selected-flag {
    background-color: transparent !important;
  }

  .iti__flag-container {
    @media (max-width: 768px) {
      left: 15px !important;
    }
  }

  input {
    padding-left: 12rem !important;

    @media (max-width: 1500px) {
      padding-left: 13.5rem !important;
    }

    @media (min-width: 2000px) {
      padding-left: 9.4rem !important;
    }

    @media (min-width: 3000px) {
      padding-left: 8.2rem !important;
    }

    @media (max-width: 768px) {
      padding-left: 110px !important;
    }
  }
}

@media (max-width: 768px) {
  .timepop__form .iti .form__input {
    padding-left: 110px !important;
  }

  .longpop .longpop__form .iti .form__input {
    padding-left: 110px !important;
  }

  .footer__form .iti .form__input {
    padding-left: 110px !important;
  }
}

.footer .iti__selected-dial-code {
  color: #fff !important;
}

.footer .iti__arrow {
  border-top: 4px solid #fff;
}

.footer .iti__arrow.iti__arrow--up {
  border-bottom: 4px solid #fff;
}
