.header {
    padding: 3rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 15;
    background-color: black;
    width: 100%;
    transform: translateY(0); 
    transition: transform 0.4s ease;

    &__logo {
        width: 17.2rem;
        z-index: 3;
        position: relative;

        .mob {
            display: none;
        }
    }

    &__list {
        display: flex;
        gap: 6rem;

        &-item {
            font-size: 2rem;
            opacity: 0.3;
            transition: opacity 0.3s ease;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
    }

    &__socials {
        display: flex;
        gap: 2.9rem;
        align-items: center;

        &-phone {
            font-size: 1.6rem;
            cursor: pointer;

            &-show {
                opacity: 0.6;
                margin-left: 0.5rem;
            }
        }

        &-holder {
            display: flex;
            gap: 2.2rem;
            align-items: center;

            &-item {
                width: 3.2rem;
            }
        }
    }
}

.mob {
    display: none;
}

@media (max-width: 768px) {
    .header {
        position: fixed;
        padding: 20px 30px;
        background-color: #fff;
        transition: background-color 0.3s ease;

        &__logo {
            width: 120px;
        }

        &__list {
            display: none;
            padding: 0px 0 31px;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            transform: translateY(-30px);
            opacity: 0;
            transition: all 0.3s ease, 1s;

            &-item {
                color: rgba(0, 0, 0, 0.70);
                text-align: center;
                font-family: Lato;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                opacity: 1;
            }
        }

        &__socials {
            display: none;
        }

        &__menu {
            width: 24px;
            height: 24px;
            z-index: 3;

            .burger-icon  svg{
                path {
                    transition: transform 0.4s ease, opacity 0.4s ease;                
                }
            }

            .line {
                transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
            }

        }

        &.activeBG {
            background: #000 !important;

            .mob-bg svg {
                path {
                    fill: white;
                }
            }

            .burger-icon svg {
                path {
                    fill: white;
                }
            }
        }
    }

    .desc {
        display: none;
    }

    .mob {
        display: flex !important;
    }

    .header__mob-nav {
        transform: translateY(-120%);
        transition: transform 0.5s ease;
        background: #EEE;
        position: fixed;
        z-index: 25;
        inset: 71px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-title {
            text-align: center;
            color: #000;
            text-align: center;
            font-family: "Helvetica Neue";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            transform: translateY(-30px);
            opacity: 0;
            transition: all 0.3s ease, 1s;
        }

        .form {
            opacity: 0;
            transform: translateY(-60px);
            transition: all 0.8s ease;
            margin-top: 17px;
            .form__input {
                background-color: #DBDBDB;
                color: #000;
            }
            .form__wrap {
                border: none;
            }
            .form__wrap:last-of-type {
                margin-bottom: 20px;
            }
            .btn {
                color: #000;
                span {
                    border-color: #000;
                }
            }
        }
    }
    .header__mob-content .form {
        padding: 0 30px;
        max-width: 100%;
        background-color: #eee;
        &__wrap {
            background-color: #dbdbdb;
        }
    }
    

    header.active {
        .burger-icon svg {

            path:nth-of-type(1) {
                opacity: 0;
            }

            path:nth-of-type(2) {
                transform: translate(8px, -0px) rotate(45deg);

            }

            path:nth-of-type(3) {
                transform: translate(-9px, 7px) rotate(-45deg);

            }
        }

        .line1 {}

        .line2 {
            opacity: 0;
        }

        .line3 {}

        .header__mob-nav {
            transform: translateY(0);
        }

        .header__mob-nav .form {
            opacity: 1;
            transition-delay: 0.6s;
            transform: translateY(0);
        }

        .header__mob-nav-title {
            opacity: 1;
            transition-delay: 0.6s;
            transform: translateY(0);
        }

        .header__list {
            opacity: 1;
            transition-delay: 0.6s;
            transform: translateY(0);
        }
    }

}

