.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  z-index: 16;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 400ms ease-in-out;

  //   display: none;
  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 131.8rem;
    height: 77rem;
    padding: 28.1rem;

    @media (max-width: 768px) {
      max-width: 420px;
      width: 100%;
      height: max-content;
      padding: 60px 22px;
    }

    @media (max-width: 464px) {
      max-width: 100%;
      width: calc(100% - 44px);
      height: max-content;
      padding: 60px 22px;
    }
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 768px) {}
  }

  &__title {
    color: var(--dark-color);
    text-align: center;
    font-family: var(--fontHell);
    font-size: 7rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.35rem;

    @media (max-width: 768px) {
      letter-spacing: normal;
      font-size: 30px;
      text-transform: uppercase;
    }
  }

  &__subtitle {
    margin-top: 2rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: 2rem;
    line-height: normal;

    @media (max-width: 768px) {
      font-size: 20px;
      margin-top: 35px;
      color: var(--dark-color);
    }
  }

  &__exit {
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;

    svg {
      width: 2rem;
      height: 2rem;
    }

    @media (max-width: 768px) {
      right: 15px;
      top: 15px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__socials {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      align-items: center;
    }

    margin-top: 25px;
    gap: 24px;
  }

  .form {
    max-width: 41.6rem;
    margin-top: 5rem;

    @media (max-width: 786px) {
      margin-top: 45px;
    }

    &__wrap {
      background: #e3e3e3;

      @media (max-width: 786px) {
        background: #DBDBDB;

        &:last-of-type {
          margin-bottom: 25px;
        }
      }
    }

    &__input {
      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
      }

      color: var(--dark-color);

      @media (max-width: 768px) {
        color: #0000004D;

        &::placeholder {
          color: #0000004D;
        }
      }
    }

    button {
      margin-top: 3rem;

      @media(max-width:768px) {
        margin-top: 30px;
      }

      color: var(--dark-color);

      span {
        border-color: var(--dark-color);
      }
    }
  }

}



.time-pop-img {
  position: absolute;
  overflow: hidden;
  z-index: 9999;
  object-fit: cover;
  height: 77rem;
  pointer-events: none;
  display: none;
}

@media (min-width: 768px) {
  .time-pop .popup__wrapper {
    padding: 20rem;
  }
}



.popup__img {
  width: 28.5rem;
  padding-bottom: 25px;
}
@media (max-width: 768px) {
  .popup__img {
    display: none;
  }

  .time-pop-img {
    max-width: 300px;
    width: 100%;
    height: max-content;
    top: 16%;
    overflow: visible;
    scale: 1.1;
    display: block;
  }

  .time-pop .popup__title {
    font-size: 20px;
    opacity: 1;
    transform: translateY(95px);
  }

  .time-pop .popup__wrapper {
    height: 75%;
  }

  .popup__subtitle {
    display: none;
  }

  .time-pop .popup__exit {
    right: 8px;
    top: 10px;
    opacity: 1;
  }

  .time-pop .popup__exit svg {
    width: 15px;
    height: 15px;
  }

  .time-pop .popup__socials {
    transform: translateY(105px);
  }

  .time-pop .form {
    opacity: 1;
    transform: translateY(85px);
  }
}

@media (max-width: 464px) {
  .time-pop-img {
    max-width: 100%;
    width: calc(100% - 44px);
    height: max-content;
  }
}
