.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100dvh;
  background-color: black;
  z-index: 999;
  transition: all 400ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  &__text {
    position: absolute;
    left: 20rem;
    bottom: 9rem;
    color: #fff;
    text-align: center;
    font-family: var(--font-snd);
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 93.687%;
    text-transform: uppercase;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__circle {
    position: relative;
    width: 450px;
    height: 450px;
  }
  &__percent {
    width: 450px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-num {
      color: #fff;
      text-align: center;
      font-size: 90px;
      font-weight: 400;
      text-transform: capitalize;
    }
    &-sign {
      color: #fff;
      text-align: center;
      font-family: var(--font-snd);
      font-size: 50px;
      font-weight: 400;
    }
  }
  .progres__ring {
    position: absolute;
    top: 0;
  }
  .progres__ring-full {
    z-index: 2;
  }
  .progres__ring-anim {
    opacity: 0;
    circle {
      stroke-dashoffset: 1086.9910581420684;
      transition: all 1000ms ease-in-out;
    }
  }
  .progres__ring-mobile {
    display: none;
  }
  &.active {
    .progres__ring-anim {
      opacity: 1;

      circle {
        stroke-dashoffset: 0 !important;
      }
      animation: rotate360 1000ms infinite forwards;
      @keyframes rotate360 {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .preloader {
    &__circle {
      width: 175px;
      height: 175px;
    }
    &__percent {
      &-num {
        font-size: 36px;
      }
      &-sign {
        font-size: 20px;
      }
    }
    .progres__ring {
      width: 175px;
      height: 175px;
    }
    .progres__ring-anim {
      circle {
        stroke-width: 3px;
      }
    }
    .progres__ring-desc {
      display: none;
    }
    .progres__ring-mobile {
      display: block;
    }
  }
}

.preloader{
  .preloader-logo{
    position: relative;
  }
  .preloader-log-gray{

  }
  .preloader-log-white{
    position: absolute;
    top: 0;
    left: 0;
    clip-path: inset(0% 100% 0% 0%);
  }
}
@media(max-width:766px){
  .preloader{
    padding: 0 20px;
    .preloader-logo{
      max-width: 100%;
      width: 100%;
    }
    .preloader-log-gray{
      svg{
        width: 100%;
      }
    }
    .preloader-log-white{
      left: 0;
      svg{
        width: 100%;
      }
    }
  }
}