.brochure {
    .form {

        input:-webkit-autofill,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            color: #fff !important;
            -webkit-text-fill-color: #fff !important;
            -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset !important;
            -webkit-background-clip: text !important;
            background-clip: text !important;
        }

        input:-webkit-autofill:hover {
            color: var(--dark) !important;
            -webkit-text-fill-color: var(--dark) !important;
            -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset !important;
            -webkit-background-clip: text !important;
            background-clip: text !important;
        }
    }

    .iti__selected-dial-code {
        color: #fff;
        transition: all .3s ease;
    }

    .iti__arrow {
        border-top: 4px solid #fff;
        transition: all .3s ease;
    }

    .iti__arrow.iti__arrow--up {
        border-top: none;
        border-bottom: 4px solid #fff;
    }

    .form__wrap:hover {

        .iti__selected-dial-code {
            color: #000 !important;
        }

        .iti__arrow {
            border-top: 4px solid #000;
        }

        .iti__arrow.iti__arrow--up {
            border-top: none;
            border-bottom: 4px solid #000;
        }

    }
}

@media(min-width:1101px) {
    .brochure {
        position: relative;
        height: 200svh;

        .btn {
            margin-top: 4rem;
        }

        // ======= animation =========
        &.active {
            .brochure__content-center-img-wrap {
                transform: translateY(55%) scale(1.2);
            }

            .brochure__content-left .brochure__item:nth-child(1),
            .brochure__content-left .brochure__item:nth-child(2),
            .brochure__content-right .brochure__item:nth-child(1),
            .brochure__content-right .brochure__item:nth-child(2) {
                transform: translate(0, 0);
                opacity: 1;
            }

            // .brochure__item{
            //     transform: translate(0, 0);
            //     opacity: 1;
            // }
        }

        &.active2 {
            .brochure__content-center-img-wrap {
                transform: translateY(0%) scale(1);
                // top: 0;
            }

            .brochure__content-center-box {
                opacity: 1;
                transform: translateY(0);
            }
        }

        // ======= animation end =========
        &__wrap {
            position: sticky;
            top: 0;
            max-width: 100%;
            width: 100%;
            height: 100svh;
        }

        &__content {
            height: 100%;
            padding-top: 6rem;
            padding-left: 14rem;
            padding-right: 14rem;
            display: flex;
            justify-content: space-between;
        }

        &__content-left {
            // padding-top: 12rem;
            // padding-bottom: 25rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .brochure__item:nth-child(1) {
                transform: translate(40rem, 15rem);
            }

            .brochure__item:nth-child(2) {
                transform: translate(40rem, -15rem);
            }
        }

        &__item {
            max-width: 29rem;
            opacity: 0;
            transition: transform .8s ease, opacity .8s ease;

            img {
                width: 100%;
            }

            p {
                font-size: 2rem;
                color: rgba(255, 255, 255, 0.7);
            }
        }

        &__item-img-wrap {
            max-width: 5rem;
            margin-bottom: 20px;
        }

        &__content-center {
            position: relative;
            max-width: 81.5rem;
            width: 100%;
            padding-top: 5rem;

            img {

                width: 100%;
            }
        }

        &__content-center-img-wrap {
            position: relative;
            // top: 50%;
            transform: translateY(50%) scale(1.4);
            transition: transform .8s ease, top .8s ease;
        }

        &__content-center-img {}

        &__content-center-box {
            transform: translateY(200%);
            opacity: 0;
            transition: transform .8s ease, opacity .8s ease;
        }

        &__content-center-title {
            font-family: var(--fontHell);
            font-size: 3.2rem;
            font-weight: 400;
            max-width: 32rem;
            margin: 0 auto;
            text-align: center;
            margin-top: 6rem;
        }

        &__content-right {
            // padding-top: 12rem;
            // padding-bottom: 25rem;
            text-align: right;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .brochure__item {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            .brochure__item:nth-child(1) {
                transform: translate(-40rem, 15rem);
            }

            .brochure__item:nth-child(2) {
                transform: translate(-40rem, -15rem);
            }
        }
    }
}

@media(max-width:1600px) {
    .brochure {
        &__content-center {
            padding-top: 70px;
        }
    }
}

@media(max-width:1100px) {

    .brochure {
        position: relative;
        height: 200svh;

        .btn {
            margin-top: 40px;
        }

        // ======= animation =========
        &.active {

            // touch-action: none;
            .brochure__content-center-img-wrap {
                transform: translate(0%, 0%) scale(1) rotate(0);
            }

            .brochure__content-center-box {
                opacity: 1;
                transform: translateY(0);
            }


        }

        // ======= animation end =========

        &__wrap {
            position: sticky;
            top: 0;
            max-width: 100%;
            width: 100%;
            height: 100svh;
            overflow: hidden;
        }

        &__content {
            height: 100%;
            padding: 30px;
        }

        &__content-left {
            display: none;
        }


        &__content-center {
            position: relative;
            max-width: 100%;
            width: 100%;
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 71px;

            img {
                width: 100%;
            }
        }

        &__content-center-img-wrap {
            transform: translate(95%, 195%) scale(3) rotate(27.7deg);
            transition: transform .8s ease, top .8s ease;
            z-index: 10;
        }

        &__content-center-img {}

        &__content-center-box {
            transform: translateY(200%);
            opacity: 0;
            transition: transform .8s ease, opacity .8s ease;
        }

        &__content-center-title {
            font-family: var(--fontHell);
            font-size: 24px;
            font-weight: 400;
            max-width: 320px;
            margin: 0 auto;
            text-align: center;
            margin-top: 40px;
        }

        &__content-right {
            display: none;
        }
    }

}


// amenities ============================

.amenities {
    display: none;
    position: relative;

    .anchor {
        position: absolute;
        top: -25px;
    }

    .btn {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        z-index: 3;
        transform: translateY(50px);
        transition: transform 1.2s ease;
    }
}

@media(max-width:768px) {

    .amenities {
        display: block;

        &__wrap {
            height: 100svh;
            display: flex;
            align-items: center;
            padding: 0 30px;

            &.active {
                .amenities__item-top {
                    transform: translateY(0);
                }

                .amenities__item-text {
                    transform: translateY(0);
                }

                .btn {
                    transform: translateY(0);
                }

                .amenities__item {
                    &::after {
                        // background-color: rgba(255, 255, 255, 0.3);
                        transform: translateY(0);
                    }
                }
            }
        }

        &__cont {}

        &__title {
            font-size: 36px;
            line-height: 38px;
            margin-bottom: 40px;
        }

        &__item {
            padding-bottom: 5px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: rgba(255, 255, 255, 0.3);
                transform: translateY(50px);
                transition: transform 1.2s ease;
                z-index: 1;
            }

            &:not(:last-of-type) {
                margin-bottom: 34px;
            }
        }

        &__item-top {
            position: relative;
            z-index: 3;
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            transform: translateY(50px);
            transition: transform 1.2s ease;
        }

        &__item-title {
            font-size: 20px;
            line-height: 22px;
            text-transform: uppercase;
        }

        &__item-text-wrap {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 120%;
                background-color: #000;
                transform: translateY(50px);
                z-index: 2;
            }
        }

        &__item-text {
            font-size: 14px;
            line-height: 18px;
            transform: translateY(50px);
            transition: transform 1.2s ease;
        }

        &__item-top-img-wrap {
            max-width: 20px;
            width: 100%;
            margin-right: 5px;
        }

        &__item-top-img {
            width: 100%;
        }
    }

}