.floorplan {
  height: var(--vh);
  background: var(--light-color);
  display: flex;
  align-items: center;

  &__wrapper {
    width: 100vw;
  }
  // .floorplan__top
  // padding-top: 10.4rem;
  &__top {
    display: flex;
    gap: 4rem;
  }

  // .floorplan__title

  &__title {
    color: var(--dark-color);
    font-family: var(--fontHell);
    font-size: 12rem;
    line-height: normal;
    letter-spacing: -0.6rem;
  }

  // .floorplan__line

  &__line {
    width: 12rem;
    height: 0.2rem;
    margin-top: 2.8rem;
    background-color: var(--dark-color);
  }

  // .floorplan__text

  &__text {
    max-width: 68.3rem;
    margin-top: 2.3rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: normal;
    color: var(--dark-color);
  }

  // .floorplan__swiper

  &__swiper {
    padding-top: 9.7rem;
  }

  // .floorplan__swiper-wrapper

  &__swiper-wrapper {
    width: 0;
  }

  // .floorplan__slide

  &__slide {
    height: 45.1rem;
    width: 85.8rem;
    background: var(--dark-color);
    display: flex;
    gap: 8rem;
    padding: 7.2rem 6rem 7.2rem 7.2rem;
    margin: 0 auto;
  }

  // .floorplan__img

  &__img {
    max-width: 33.7rem;
    height: 100%;
    width: 100%;
    cursor: pointer;
    // display: none;
    img {
      //   object-fit: contain;
    }
  }

  // .floorplan__about

  &__about {
    max-width: 30.9rem;
    width: 100%;
    color: var(--light-color);
    font-family: var(--fontHell);
    font-size: 2rem;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  // .floorplan__info

  &__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 0.03rem solid var(--light-color);
    & + & {
      margin-top: 1.5rem;
    }
  }

  // .floorplan__label

  &__label {
  }

  // .floorplan__value

  &__value {
  }

  // .floorplan__control
  &__control {
    margin-top: 2.7rem;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }
  &__zoom {
    display: none;
  }
  button {
    margin-top: 2rem;
    // opacity: 0;
    // pointer-events: none;
    transition: all 300ms ease-in;
    // z-index: 9999;
    // position: relative;
  }
  //swiper

  .swiper-button-prev,
  .swiper-button-next {
    cursor: pointer;
  }

  .swiper-pagination-bullets {
    width: max-content;
    position: static;
    display: flex;
    align-items: center;
    gap: 7.2px;
    @media (min-width: 1921px) {
      gap: 0.72rem;
    }
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: transparent;
    border: 0.12rem solid black;
    transition: all 400ms ease-in-out;
    opacity: 1;
    margin: 0 !important;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background: var(--dark-color);
      border-radius: 50%;
      transition: all 400ms ease-in-out;
      opacity: 0;
      transform: scale(0.8);
    }
    &-active {
      transform: scale(1.25);
      &::before {
        opacity: 1;
      }
    }
    @media (min-width: 1921px) {
      width: 1rem;
      height: 1rem;
    }
  }
  .swiper-slide-active {
    button {
      opacity: 1;
      pointer-events: all;
    }
  }
}

@media (max-width: 1024px) {
  .floorplan {
    height: 100%;
    padding-top: 102px;
    padding-bottom: 30px;

    &__title {
      font-size: 36px;
      letter-spacing: normal;
    }
    &__line,
    &__text,
    &__control {
      display: none;
    }
    &__swiper {
      height: max-content;
      // height: calc(100vh - 30px - 36px - var(--paddingTop));
      padding-top: 30px;
      display: flex;
      flex-direction: column;
    }
    &__swiper-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 34px;
      width: calc(100% - 84px);
      margin: 0 42px;
      // pointer-events: none;
    }
    &__slide {
      max-width: 385px;
      margin: 0;
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 25px 24px 11px;
      height: max-content;
    }
    &__slide + &__slide {
      transform-origin: center top;
      transform: perspective(100px) rotateX(-4deg);
    }
    &__img {
      max-width: 159px;
      height: auto;
      img {
        object-fit: contain;
      }
    }
    &__about {
      position: relative;
      font-size: 13px;
    }
    &__info {
      padding-bottom: 4px;
      & + & {
        margin-top: 14px;
      }
    }
    &__zoom {
      display: block;
      cursor: pointer;
      height: 15px;
      bottom: calc(100% + 20px);
      right: 0;
      position: absolute;
    }
    .swiper-slide-active {
      // transition: all 400ms ease-in-out;
    }
  }
}
