@media(min-width:901px) {
    .intro {
        &__wrap {
            position: relative;
            height: 100svh;
            max-width: 100%;
            width: 100%;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0);
                transition: background-color .8s ease;
            }

            //==================== animation =====================
            &.active {
                &::after {
                    background-color: rgba(0, 0, 0, 0.5);
                }

                .intro__wrap-bg-container {
                    clip-path: inset(0% 0% 0% 0%);
                }

                .intro__wrap-bg {
                    transform: scale(1);
                    object-position: left;
                }

                .intro-title-top {
                    transform: translate(0, 0);
                }

                .intro-title-bot {
                    transform: translate(0, 0);
                }

                .intro-text {
                    opacity: 1;
                }

                .intro-title-line {
                    opacity: 1;
                }

                .intro__content-text-bot {
                    opacity: 1;
                }

                .intro__content-btn {
                    opacity: 1;
                }
            }
        }

        &__wrap-bg-container {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            width: 100%;
            height: 100%;
            clip-path: inset(23% 37% 23% 37%);
            transition: clip-path .8s ease
        }

        &__wrap-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top, left;
            transform: scale(0.5555);
            transition: transform .8s ease, object-position .8s ease;
        }

        &__content {
            position: relative;
            z-index: 3;
            font-family: var(--fontHell);
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }



        &__content-center {}

        &__content-center-top {
            display: flex;
            align-items: center;
        }

        &-title-line {
            display: block;
            width: 12rem;
            height: 100%;
            margin: 0 4rem;
            position: relative;
            margin-bottom: auto;
            opacity: 0;
            transition: opacity .8s ease;

            &::after {
                content: '';
                position: absolute;
                top: 2.8rem;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #fff;
            }
        }

        &-title {
            font-size: 15rem;
            font-weight: 400;
            transition: transform .8s ease;
        }

        &-title-top {
            transform: translate(-10.2rem, -18.5rem);

            @media(min-width:2400px) {
                transform: translate(-10.5rem, -21.5rem);
            }

            @media(max-width:1500px) {
                transform: translate(-9.5rem, -21.5rem);
            }
        }

        &-text {
            font-size: 2rem;
            max-width: 43.4rem;
            line-height: 125%;
            opacity: 0;
            transition: opacity .8s ease;

            &.mob {
                display: none;
            }
        }

        &__content-center-bot {}

        &-title-bot {
            margin-left: 36.5rem;
            margin-top: -2rem;
            transform: translate(33.3rem, 19rem);

            @media(min-width:2400px) {
                transform: translate(34.5rem, 22rem);
            }

            @media(max-width:1500px) {
                transform: translate(35rem, 21.4rem);
                margin-left: 34rem;
            }
        }

        .intro__content-text-bot {
            position: absolute;
            left: 14rem;
            bottom: 14rem;
            font-size: 36px;
            opacity: 0;
            transition: opacity .8s ease;
        }

        .intro__content-btn {
            position: absolute;
            bottom: 6rem;
            opacity: 0;
            transition: opacity .8s ease;

            a {
                font-size: 20px;
                font-weight: 500;
            }
        }

    }
}

@media(max-width:900px) {

    .intro {
        max-width: 100%;
        width: 100%;
        overflow: hidden;
        height: 100svh;

        &__wrap {
            max-width: 100%;
            width: 100%;
            height: 100%;
            

            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0);
                transition: background-color .8s ease .8s;
            }

            //==================== animation =====================
            &.active2 {
                .intro__content-center-top {
                    justify-content: center;
                }
            }

            &.active {
                &::after {
                    background-color: rgba(0, 0, 0, 0.5);
                }

                // @keyframes titleTopAnim {
                //     40% {
                //         transform: translate(0%, -47px);
                //     }

                //     60% {
                //         transform: translate(0%, -47px);
                //     }

                //     100% {
                //         transform: translate(-50%, 0px);
                //     }
                // }


                // .intro-title-top {
                //     position: relative;
                //     animation: titleTopAnim 2s forwards;
                //     padding-right: 4px;
                // }

                // .intro__content-center-top {
                //     left: 50%;
                // }

                // @keyframes titleBotAnim {
                //     40% {
                //         transform: translate(0, 168px);

                //     }

                //     60% {
                //         transform: translate(0, 168px);

                //     }

                //     100% {
                //         transform: translate(50%, 0);
                //     }
                // }

                // .intro-title-bot {
                //     animation: titleBotAnim 2s forwards;
                // }

                // .intro__content-center-bot {
                //     right: 50%;
                // }

                // .intro__wrap-bg-container {
                //     left: 0;
                //     width: 100%;
                // }

                // .intro__wrap-bg {
                //     height: 100%;
                // }

                // .intro-text.mob {
                //     opacity: 1;
                // }

                // .intro__content-btn {
                //     opacity: 1;
                // }

            }

        }

        &__wrap-bg-container {
            position: absolute;
            top: 0;
            left: 30px;
            overflow: hidden;
            width: calc(100% - 60px);
            height: 100%;
            // transition: width .8s ease 1.2s, left .8s ease 1.2s;
        }

        &__wrap-bg {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: 250px;
            object-fit: cover;
            // object-position: left;
            // transition: height .8s ease 1.2s;
        }

        // &__wrap-bg-container {
        //     display: none;
        // }

        // &__wrap-bg {}

        &__content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            padding: 0 30px;
            position: relative;
            z-index: 3;
            padding-bottom: 35px;
        }

        &__content-center {}

        &__content-center-top {
            // position: relative;
            // left: 0;
            // transition: left .8s ease 1.15s;
        }

        &-title {
            position: relative;
            font-size: 64px;
            line-height: 64px;
            display: inline-block;
        }

        &-title-top {
            transform: translate(-78%, -47px);
        }

        &-title-line {}

        &-text {
            display: none;

            &.mob {
                display: block;
                font-size: 16px;
                line-height: 18px;
                text-align: center;
                max-width: 331px;
                margin: 0 auto;
                margin-top: 20px;
                opacity: 0;
                // transition: opacity .8s ease 1.3s;
            }
        }

        &__content-center-img-box-mob {}



        &__content-center-bot {
            display: flex;
            justify-content: right;
            // position: relative;
            // right: 0;
            // // right: 50%;
            // transition: right .8s ease 1.15s;
        }

        &-title-bot {
            text-align: right;
            transform: translate(79%, 168px);
            // transform: translateX(50%);

        }

        &__content-text-bot {
            display: none;
        }

        &__content-btn {
            position: absolute;
            bottom: 20px;
            height: 50px;
            width: 100%;
            left: 0;
            opacity: 0;
            // transition: opacity .8s ease 1.3s;

            .btn {
                height: 50px;
                margin: 0 auto;
                display: block;
            }
        }
    }



}