// rem sccs code
@use "sass:math";

@function rem($screen) {
  @return math.div(100vw, $screen) * 10;
}
html,
body {
  background-color: black;
  font-size: rem(1920);
  @media (max-width: 768px) {
    font-size: 16px;
    .iti-mobile .iti--container {
      width: 85%;
      height: 80%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.btn {
  position: relative;
  height: 5rem;
  padding: 0 1.3rem 0 1.4rem;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  p {
    font-family: var(--fontHell);
    font-size: 2rem;
    font-weight: 500;
    line-height: normal;
  }
  span {
    display: block;
    position: absolute;
    left: 0;
    top: 0.4rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 0.1rem solid var(--light-color);
    transition: all 600ms ease-in-out;
  }
  &.active {
    p {
      transition: all 600ms ease-in-out;
      transform: translateX(0) !important;
    }
  }
  @media (hover: hover) {
    &:hover {
      span {
        border-radius: 4rem;
        width: 100%;
      }
    }
  }
  @media (max-width: 768px) {
    height: 50px;
    padding: 0 15px;

    span {
      top: 4px;
      width: 40px;
      height: 40px;
    }
    p {
      font-size: 20px;
    }
  }
}

//* для lenis

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
  overflow-y: scroll;
}
.lenis [data-lenis-prevent] {
  overscroll-behavior: contain;
  overflow-y: scroll;
}

.lenis.lenis-stopped {
  overflow: hidden;
  
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

._container {
  padding: 0 24.7rem;
  margin: 0 auto;
  width: 100%;
  @media (max-width: 768px) {
    padding: 0 30px;
  }
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gl-ax-wp-logo {
  display: none !important;
}


.fixed-whatsapp{
  position:fixed;
  right:40px;
  bottom:40px;
  z-index:99;
  cursor:pointer;
  width:64px;
  height:64px;
}
.fixed-whatsapp svg{
  width:100%;
  height:100%;
}

.fixed-whatsapp::before {
  content: '';
  position: absolute;
  border: 1px solid #25D366;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  border-radius: 50%;
  animation: pulse 1.5s infinite;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.fixed-whatsapp::after {
  content: '';
  position: absolute;
  border: 1px solid #25D366;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  border-radius: 50%;
  animation: pulse 1.5s linear 0.5s infinite;
  transform: translate(-50%, -50%);
  z-index: 0;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

html.swal2-shown,
body.swal2-shown {
  div:where(.swal2-container) div:where(.swal2-popup) {
    width: 51.2rem;
    padding: 0 0 2rem;
    font-size: 1.6rem;
    @media (max-width: 768px) {
      width: 355px;
      padding: 0 0 20px;
      font-size: 16px;
    }
  }
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  overflow: visible !important;
}

