:root {
  --vh: 100lvh;

  // Font Family
  --font: Lato;
  --fontHell: "Helvetica Neue";

  // Colors
  --light-color: #fff;
  --dark-color: #000;
  --orange-color: #f37c57;
  --grey-color: #757575;

  //others
  --paddingTop:16.9rem;
  @media (max-width:1500px) {
  --paddingTop:12rem;    
  }
  @media (max-width:768px) {
    --paddingTop:102px;    
    }
}
